[submodule "sededu/modules/stratigraphy/rivers2stratigraphy"]
	path = sededu/modules/stratigraphy/rivers2stratigraphy
	url = https://github.com/sededu/rivers2stratigraphy
    branch = master
[submodule "sededu/modules/stratigraphy/stratigraphic_filter"]
	path = sededu/modules/stratigraphy/stratigraphic_filter
	url = https://github.com/sededu/stratigraphic_filter_toy
    branch = master
[submodule "docs/example-module"]
	path = docs/example-module
	url = https://github.com/sededu/example-module_sededu.git
    branch = master
[submodule "docs/template-module"]
	path = docs/template-module
	url = https://github.com/sededu/template-module_sededu.git
    branch = master
[submodule "sededu/modules/landscapes/rain_table"]
	path = sededu/modules/landscapes/rain_table
	url = https://github.com/sededu/rain_table
	branch = master
[submodule "sededu/modules/riversanddeltas/flooding_in_deltas"]
	path = sededu/modules/riversanddeltas/flooding_in_deltas
	url = https://github.com/sededu/flooding_in_deltas
	branch = master
[submodule "sededu/modules/riversanddeltas/sediment-load-calculator_kensukename2"]
	path = sededu/modules/riversanddeltas/sediment-load-calculator_kensukename2
	url = https://github.com/amoodie/sediment-load-calculator_kensukename2
	branch = master
[submodule "sededu/modules/landscapes/hillslope_creep"]
	path = sededu/modules/landscapes/hillslope_creep
	url = https://github.com/sededu/hillslope_creep
	branch = master
